<!-- /views/forms/edit.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	
	<!-- Link to CSS file -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<title>Edit Request Form</title>
</head>
<body>

	<!-- NAVIGATION BAR SECTION -->
    <nav class="navbar navbar-light bg-primary justify-content-between">
        <a class="navbar-brand" href="#">Your Company Name</a>
        <button onclick="window.location.href='/forms/adminsettings';" type="button" class="btn btn-secondary">Admin Settings</a></button>
        <form action="/logout" method="get" class="form-inline">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </nav>

    <!-- MAIN BODY -->
	<div class="container-fluid" id="request-edit">
		<h1>Edit Request Form</h1>
		<form action="/forms/update/<%= submissionform._id%>" method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">First</label>
				<div class="col-sm-10">
					<input type="text" name="first_name" class="form-control" value="<%= submissionform.first_name %>" />
				</div>				
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Last</label>
				<div class="col-sm-10">
					<input type="text" name="last_name" class="form-control" value="<%= submissionform.last_name %>" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Phone No.</label>
				<div class="col-sm-10">
					<input type="text" name="phone_number" class="form-control" value="<%= submissionform.phone_number %>" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Organization</label>
				<div class="col-sm-10">
					<input type="text" name="organization" class="form-control" value="<%= submissionform.organization %>" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Request</label>
				<div class="col-sm-10">
					<textarea name="request" class="form-control" id="index_form_request" rows="3"><%= submissionform.request %></textarea>
				</div>
			</div>
			<div class="btn-group offset-sm-2">
				<button class="btn btn-info" type="submit" id="update_save">Update</button>

		</form>
		<form action="/forms">
			<button onclick="return confirm('Are you sure you want to cancel editing <%= submissionform.first_name %> <%= submissionform.last_name %>?')" type="submit" class="btn btn-danger" type="button" id="update_cancel">Cancel</button>
        </form>
		</div>
	</div>
</body>
</html>