<!-- /views/forms/list.ejs-->
<!DOCTYPE html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>List of Submissions</title>
    <!-- Link to CSS file -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid" id="request-list">
        <h1>List of Submitted Forms</h1>
    	<% if( submissionform.length > 0 ) { %> 
    	<table class="table table-stripped" id="table-of-submitted-requests">
    		<thead>
    			<tr>
    				<th scope="col">First Name</th>
    				<th scope="col">Last Name</th>
    				<th scope="col">Phone Number</th>
    				<th scope="col">Organization</th>
                    <th scope="col">Request</th>
                    <th scope="col">Date Modified</th>
    				<th scope="col">Actions</th>
    			</tr>
    		</thead>
    		<tbody>
    			<% for(var i =0; i < submissionform.length; i++) { %>
    			<tr scope="row">
    				<td><%= submissionform[i].first_name %></td>
    				<td><%= submissionform[i].last_name %></td>
    				<td><%= submissionform[i].phone_number %></td>
    				<td><%= submissionform[i].organization %></td>
                    <td><%= submissionform[i].request %></td>
                    <!-- FULL DATE FROM DATABASE -->
                    <!-- <td><%= submissionform[i].updated_at %></td> -->
                    <td><%= submissionform[i].updated_at.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " "); %></td>
                    <td>
                    <div class="btn-group btn-group-sm">
                        <form action="/forms/edit/<%= submissionform[i]._id %>">
                            <button id="list_edit" class="btn btn-info" type="submit">Edit</button>
                        </form>
        				<form action="/forms/delete/<%= submissionform[i]._id %>" method="post">
                        	<button onclick="return confirm('Are you sure you want to delete <%= submissionform[i].first_name %> <%= submissionform[i].last_name %>?');" class="btn btn-danger" id="list_delete" type="submit">Delete</button>
        				</form>
                    </div>
                    </td>
    			</tr>
    		<% } %>
    		</tbody>
    	</table>
    	<% } else { %>
    	<div>No forms submitted.</div> 
	<% } %>
    </div>
    </script>
  </body>
</html>
