<!-- /views/forms/list.ejs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Link for Sort arrows from fontawesome.io -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <title>List of Submissions</title>
    <!-- Link to CSS file -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid" id="request-list">
        <h1>List of Submitted Forms</h1>

        <!-- Test run for search function -->
        <!-- <form action="/forms/search">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label" for="searchstring">Search Entries</label>
                <div class="col-sm-10">
                    <input type="text" name="searchstring" class="form-control" id="searchstring" placeholder="Search Entry">
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-info" type="submit" id="search_string">Search</button>
                </div>
            </div>
        </form> -->
        <div class="form-group row">
            <label class="col-sm-1 col-form-label" for="searchstring">Search Entries</label>
            <div class="col-sm-10">
                <input type="text" name="searchstring" class="form-control" id="searchstring" onkeyup="mySearch()" placeholder="Search Entry">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-info" type="submit" id="search_string">Search</button>
            </div>
        </div>

    	<% if( submissionform.length > 0 ) { %> 
    	<table class="table table-stripped sortable" id="table-of-submitted-requests">
    		<thead>
    			<tr>
    				<th scope="col">First Name<i class="fa fa-fw fa-sort"></i></th>
    				<th scope="col">Last Name<i class="fa fa-fw fa-sort"></a></th>
    				<th scope="col" class="sorttable_nosort">Phone Number</th>
    				<th scope="col">Organization<i class="fa fa-fw fa-sort"></th>
                    <th scope="col" class="sorttable_nosort">Request</th>
                    <th scope="col">Date Modified<i class="fa fa-fw fa-sort"></th>
    				<th scope="col" class="sorttable_nosort">Actions</th>
    			</tr>
    		</thead>
    		<tbody>
    			<% for(var i =0; i < submissionform.length; i++) { %>
    			<tr scope="row">
    				<td><%= submissionform[i].first_name %></td>
    				<td><%= submissionform[i].last_name %></td>
    				<td><%= submissionform[i].phone_number %></td>
    				<td><%= submissionform[i].organization %></td>
                    <td><%= submissionform[i].request %></td>
                    <td><%= submissionform[i].updated_at.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " "); %></td>
                    <td>
                    <div class="btn-group btn-group-sm">
                        <form action="/forms/edit/<%= submissionform[i]._id %>">
                            <button id="list_edit" class="btn btn-info" type="submit">Edit</button>
                        </form>
        				<form action="/forms/delete/<%= submissionform[i]._id %>" method="post">
                        	<button onclick="return confirm('Are you sure you want to delete <%= submissionform[i].first_name %> <%= submissionform[i].last_name %>?');" class="btn btn-danger" id="list_delete" type="submit">Delete</button>
        				</form>
                    </div>
                    </td>
    			</tr>
    		<% } %>
    		</tbody>
    	</table>
    	<% } else { %>
    	<div>No forms submitted.</div> 
	<% } %>
    <!-- Sourced code from https://www.kryogenix.org/code/browser/sorttable/  -->
    <script type="text/javascript" src="/javascripts/sorttable.js"></script>

    <!-- Code for search table entries function -->
    <script type="text/javascript" src="/javascripts/searchtable.js"></script>
    </div>
  </body>
</html>
